@model IEnumerable<ASP.NET_Core_MVC_Playground.Models.ItemAddedToBasketViewModel>

@{
    ViewData["Title"] = AppResources.ItemIndex.ItemIndexPage;
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">@AppResources.ItemIndex.ItemsList</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Count() != 0)
                {
                    <form asp-controller="Item" asp-action="Index" method="get">
                        <div class="input-group">
                            <div class="form-outline">
                                <input type="search" name="searchString" class="form-control" placeholder="Item Name" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.Item.Name)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.Item.Description)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.Item.Price)
                                    </th>
                                    <th class="text-center">
                                        @Html.DisplayNameFor(model => model.Item.SellerId)
                                    </th>
                                    <th class="text-center">
                                        @AppResources.ItemIndex.Image
                                    </th>
                                    <th class="text-center">
                                        @AppResources.ItemIndex.Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var viewModel in Model)
                                {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => viewModel.Item.Name)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => viewModel.Item.Description)
                                    </td>
                                    <td class="text-center">
                                        $@Html.DisplayFor(modelItem => viewModel.Item.Price)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => viewModel.Item.Seller.FullName)
                                    </td>
                                    <td class="text-center">
                                        <div>
                                            @if (viewModel.Item.ImageBytes != null)
                                            {
                                                <img class="rounded" src="@Url.Action("getImg", "Item", new { itemId = viewModel.Item.Id} )" width="164" height="164" />
                                            }
                                            else
                                            {
                                                <p> @AppResources.ItemIndex.NoImageUploaded </p>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row mx-0">
                                            @if (viewModel.AddedToBasket == true)
                                            {
                                                <div class="col-md-12 mb-2 text-center">
                                                    <a class="btn btn-warning btn-block disabled">
                                                        <i class="fa-solid fa-basket-shopping"></i> &nbsp; @AppResources.ItemIndex.AlreadyAddedToBasket
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-12 mb-2 text-center">
                                                    <a asp-action="AddToBasket" asp-controller="Item" asp-route-Id="@viewModel.Item.Id" class="btn btn-warning btn-block">
                                                        <i class="fa-solid fa-basket-shopping"></i> &nbsp; @AppResources.ItemIndex.AddToBasket
                                                    </a>
                                                </div>
                                            }

                                            @if (Context.User.IsInRole("Admin"))
                                            {
                                                <div class="col-md-12 mb-2 text-center">
                                                    <a asp-action="Edit" asp-controller="Item" asp-route-Id="@viewModel.Item.Id" class="btn btn-primary btn-block">
                                                        <i class="fa-solid fa-pen-to-square"></i> &nbsp; @AppResources.ItemIndex.Edit
                                                    </a>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <a asp-action="Remove" asp-controller="Item" asp-route-Id="@viewModel.Item.Id" class="btn btn-danger btn-block">
                                                        <i class="fa-solid fa-trash-can"></i> &nbsp; @AppResources.ItemIndex.Remove
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <h2> @AppResources.ItemIndex.NoItemsHaveBeenAddedYet </h2>
                }
                @if (Context.User.IsInRole("Admin"))
                {
                    <a asp-action="Create" asp-controller="Item" class="btn btn-primary mt-2">
                        <i class="fa-solid fa-plus"></i> &nbsp; @AppResources.ItemIndex.CreateNewItem
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_BootboxAlertPartial"); }
}